<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lishui.module.connect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Biometric Permissions-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!--Bluetooth Permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application>
        <activity
            android:name=".ui.ChatActivity"
            android:exported="false" />
    </application>

</manifest>